@import "../css/header.css";
@import "../css/footer.css";
@import "../css/reset.css";

.partner {
}

.partner h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.partner .content {
}

.partner .content .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.partner .content .item .left {
  display: flex;
}

.partner .content .item img {
  width: 100px;
  height: 100px;
}

.partner .content .item .left .title h3 {
  font-size: 30px;
  margin-left: 20px;
}
.partner .content .item .left .title .icon{
    margin-left: 20px; 
     margin-top: 10px;
}

.partner .content .item .left p {
  font-size: 15px;
  margin-left: 20px;
  margin-top: 10px;
}

.partner .content .item .right {
}

.partner .content .item .right-active p {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.partner .content .item .right-not-active p {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 10px;
}
