@import "../css/header.css";
@import "../css/footer.css";
@import "../css/reset.css";

.content {
  margin-bottom: 50px;
}

.content h1 {
  text-align: center;
}

.content .productList {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
}

.content .productList .product:hover{
    box-shadow: 6px 11px 9px 0px #e19452;
    transform: translateY(-0.125rem);
}

.content .productList .product {
  margin: 10px auto;
  padding: 35px;
  background-color: white;
  border-radius: 15px;
}

.content .productList .product img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.content .productList .product .product-content {
}

.content .productList .product .product-content .name {
  color: black;
  font-size: 25px;
  margin-bottom: 10px;
}

.content .productList .product .product-content .status {
  color: black;
  font-size: 15px;
  margin-bottom: 10px;

}

.content .productList .product .product-content .price {
  color: black;
  font-size: 15px;

}


/*  */