@import "../css/header.css";
@import "../css/footer.css";
@import "../css/reset.css";

.cart {
  margin-top: 150px;
  font-size: 20px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #ff7800;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #ff7800;
}

.content-table tbody .btn-xoa {
  color: white;
  padding: 10px 20px;
  background-color: rgb(246, 35, 35);
  border-radius: 5px;
  cursor: pointer;
}

.cart .thanhToan{
  background-color: white;
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  margin: 10px auto;
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 100px;
}

.cart .thanhToan .btn-thanhtoan {
  font-size: 14px;
  color: white;
  padding: 10px 20px;
  background-color: rgb(246, 35, 35);
  border-radius: 5px;
  cursor: pointer;
}
